/* DEVELOPER: Andrew Glanville, IS117-102, Spring 2024 */
/* General Styling for Navbar */
.navbar-nav {
    align-items: center; /* Aligns items vertically in the center */
}

.navbar-dark .navbar-brand, .navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

/*Carousel Custom Styling */
.carousel {
    margin-top: 0px;
    max-height: 300px;
    object-fit: cover;
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}
.my-carousel {
    margin-top: 0;
    max-height: 300px;
    object-fit: cover;
}

.carousel-item img {
    height: 300px;
    object-fit: cover;
}


/* General Styling for Cards */
.card {
    height: auto;
    margin: 10px;
}

.card-img-top {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

/* Footer Styles */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue; /* Light blue background */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
@media(max-width: 768px){
    .footer{
        font-size: 0.875em;
    }
}

/* Vertical Alignment for Items in the Same Row */
.align-items-center {
    align-items: center; /* Aligns items vertically in the center */
}


body {
    padding-bottom: 100px;
}